.container-price{
    margin: 0 5%;
    width: 90%;
}
.container-banner{
    width: 100%;
    height: 33vh;
    background-image: url(/assets/images/image_banner.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}
.wrap-intro{
    height: 46%;
    width: 26%;
    background-color: #fff;
    border-radius: 37px 37px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.wrap-intro>h1{
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    color: #292F36;
}
.wrap-intro>p{
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    color:#4D5053;
}
.wrap-Designer-Advices{
    width: 25%;
    height: 80vh;
    background-color: #F4F0EC;
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-price h2{
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    color:#292F36;
}
.container-price p>span:first-child,span:last-child{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.01em;
    color: #292F36;
}
.container-price p>span:last-child{
    padding-top: 0px;
}
.container-price p>span:nth-child(2){
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    letter-spacing: 0.01em;
    color: #292F36;
}
.wrap-Designer-Advices>hr{
    width: 100%;
    border: none;
    border-top:  1px solid #CDA274 ;
    margin-top: 37px;
    margin-bottom: 28px;
}
.container-price .modify-content{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.01em;
    color:#4D5053;
    text-align: center;
}
.wrap-button>img{
    display: inline-block;
    width: 15px;
    height: 13px;
}
.wrap-button>span{
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    padding-right:10px;
}
.wrap-button{
    display: inline-block;
    padding: 20px 40px;
    background-color: #CDA274;
    border-radius: 18px;
    margin-top: 28px;
}
.wrap-Complete-Interior{
    width: 25%;
    height: 80vh;
    background-color: #F4F0EC;
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrap-Complete-Interior>.wrap-button{
    display: inline-block;
    padding: 20px 40px;
    background-color: #292F36;
    border-radius: 18px;
    margin-top: 28px;
}
.wrap-Complete-Interior p>span:nth-child(2){
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    letter-spacing: 0.01em;
    color: #CDA274;
}
.wrap-Complete-Interior>hr{
    width: 100%;
    border: none;
    border-top:  1px solid #CDA274 ;
    margin-top: 37px;
    margin-bottom: 28px;
}
.plan{
    display: block;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    padding: 10px 30px;
    border-radius: 999px;
    background-color: #292F36;
    position: absolute;
    top: 25.5vh;
}
.wrap-content-price{
    display: flex;
    justify-content: space-between;
    margin: 150px 0px;
}
.wrap-footer-icons>img{
    display: inline-block;
    height: 22px;
    width: 17px;
    padding-right: 47px;
}
.wrap-logo>p{
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #4D5053;
    margin-top: 26px;
    margin-bottom: 40px;
}
.container-footer h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    color:#292F36;
}
.wrap-items-pages>li{
    margin-top:35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 300%;
    color: #4D5053;
}
.wrap-items-services>li{
    margin-top:35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 300%;
    color: #4D5053;
}
.wrap-items-contact>li{
    margin-top: 47px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 134px;
}
.container-copyright>p{
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    color:#4D5053;
}
.container-copyright{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-logo>img{
    width: 177px;
    height: 50px;
}
.header-homepage>img{
    height: 50px;
    width: 177px;
}
.wrap-items-nav>li{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color:#292F36;
   padding-left: 40px;
}
.wrap-items-nav>li>img{
    height: 21px;
    width: 21px;
}
.wrap-items-nav{
    display: flex;
}
.header-homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 53px 0px;
}