* {
    margin: 0;
    padding: 0;
}

.container_blog_details {
    width: 1620px;
    height: 4431px;
    left: 0px;
    top: 0px;
    position: relative;
    background: #ffffff;
}

.container_blog_details_line_One {
    width: 1200px;
    height: 4310.39px;
    left: 290px;
    top: 0px;
    border: 1px solid #e6e6e6;
    position: absolute;
}

.check {
    position: absolute;
    width: 33.3%;
    height: 4310.39px;
    left: 51%;
    transform: translateX(-50%);
    border: 1px solid #e6e6e6;
}

.container_blog_details_menus_Image {
    width: 1620px;
    z-index: 10;
    height: 356px;
    background-image: url(../../assets/images/img_bg_blogDetails.jpg);
    background-repeat: no-repeat;
    margin: 10px auto;
    position: absolute;
}

.container_blog_details_maincontent {
    width: 813px;
    height: 2579px;
    position: absolute;
    top: 500px;
    right: 517px;
}

.container_blog_details_content {
    width: 385px;
    height: 1197px;
    position: absolute;
    top: 0px;
    left: 814px;
}

.container_blog_details_maincontent_title {
    width: 684px;
    height: 126px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #292F36;
}

.container_blog_details_maincontent_img img {
    width: 813px;
    height: 539px;
    border-radius: 50px;
    position: absolute;
    top: 150px;
}

.container_blog_details_maincontent_note {
    display: flex;
    position: absolute;
    margin-bottom: 400px;
    top: 710px;
}

.container_blog_details_maincontent_note h5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4D5053;
}

.container_blog_details_maincontent_note h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4D5053;
    margin-left: 450px;
}

.container_blog_details_maincontent_textOne {
    position: absolute;
    top: 780px;
}

.container_blog_details_maincontent_textOne p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4D5053;
}

.container_blog_details_maincontent_quotes {
    width: 813px;
    height: 267px;
    background: #F4F0EC;
    border-radius: 50px;
    position: absolute;
    top: 1060px;
}

.container_blog_details_maincontent_quotes img {
    margin: 70px 360px;
    width: 60px;
    height: 60px;
}

.container_blog_details_maincontent_quotes h5 {
    width: 345px;
    height: 70px;
    font-family: 'DM Serif Display';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #CDA274;
    position: absolute;
    top: 140px;
    right: 250px;
}

.wrap_blog_details_maincontent_texTwo {
    width: 813px;
    height: 1010px;
    position: absolute;
    top: 1360px;
}

.wrap_blog_details_maincontent_texTwo h3 {
    width: 560px;
    height: 63px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #292F36;
}

.wrap_blog_details_maincontent_texTwo h5 {
    width: 813px;
    height: 99px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4D5053;
}

.wrap_blog_details_maincontent_texTwo_note_number {
    display: flex;
}

.wrap_blog_details_maincontent_texTwo_note_number h2 {
    width: 5.39px;
    height: 25px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #CDA274;
    margin-top: 8px;
}

.wrap_blog_details_maincontent_texTwo_note_number h6 {
    width: 713px;
    height: 66px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: rgba(77, 80, 83, 1);
    margin-left: 10px;
}

.container_blog_details_maincontent_texTwo_img img {
    width: 813px;
    height: 365px;
    position: absolute;
    top: 1720px;
    border-radius: 50px;
}

.wrap_blog_details_maincontent_textThree h5 {
    position: absolute;
    top: 2095px;
    width: 813px;
    height: 66px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: rgba(77, 80, 83, 1);
    margin-left: 10px;
}

.container_blog_details_maincontent_tags {
    display: flex;
    position: absolute;
    top: 2250px;
    width: 813px;
    height: 137px;
    justify-content: space-between;
    align-items: center;
}

.container_blog_details_maincontent_tags_kitchan {
    display: flex;
    width: 305px;
    height: 49px;
    justify-content: space-between;
    align-items: center;
}

.container_blog_details_maincontent_tags_icon {
    display: flex;
    width: 225px;
    height: 23px;
    justify-content: space-between;
}

.container_blog_details_maincontent_tags_icon img {
    width: 17px;
    height: 18px;
}

.container_blog_details_maincontent_tags_kitchan_one h3 {
    width: 41px;
    height: 25px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}

.container_blog_details_maincontent_tags_kitchan_two h4 {
    width: 58px;
    height: 23px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 13px 25px;
    background: #292F36;
    border-radius: 10px;
}

.container_blog_details_maincontent_tags_kitchan_three h4 {
    width: 58px;
    height: 23px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #292F36;
    padding: 13px 25px;
    background: #F4F0EC;
    border-radius: 10px;
}

.container_blog_details_maincontent_linesmall {
    position: absolute;
    width: 813px;
    height: 0px;
    left: 0px;
    top: 2250px;
    border: 1px solid #E5E5E5;
}

.container_blog_details_maincontent_linesmallOne {
    position: absolute;
    width: 813px;
    height: 0px;
    left: 0px;
    top: 2380px;
    border: 1px solid #E5E5E5;
}

.container_blog_details_form {
    width: 813px;
    background-color: #ffffff;
    position: absolute;
    top: 2600px;
}

.wraper_form_contact {
    width: 100%;
}

.wraper_form_contact .title {
    width: 90%;
    font-size: 50px;
    font-weight: 600;
    line-height: 125%;
    font-family: "DM Serif Display";
    display: flex;
    margin: auto;
    text-align: center;
}

.wraper_form_contact .info {
    margin-top: 100px;
}

.checkbox {
    margin-top: 20px;
    display: flex;
}

.checkbox input {
    border: 2px solid #CDA274;
}

.checkbox h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 450;
    margin-left: 5px;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #CDA274;
}

.info_field {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info_field .inp {
    width: 47%;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
}

.wraper_form_contact .btn {
    flex-direction: column;
    justify-content: center;
    margin: 70px 0px;
    align-items: center;
    padding: 25px 35px;
    cursor: pointer;
    gap: 10px;
    width: 110.14px;
    height: 20px;
    background: #292f36;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    color: #ffffff;
}

.container_blog_details_info_one_text .btn h3 {
    width: 120.14px;
    height: 30.18px;
    margin-left: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.container_blog_details_content_search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 33px;
    gap: 10px;
    width: 320.93px;
    height: 51px;
    background: #F4F0EC;
    border-radius: 20px;
}

.container_blog_details_content_search input {
    font-family: 'Jost';
    font-style: normal;
    width: 270px;
    height: 71px;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    color: #CDA274;
    background: #F4F0EC;
    border-radius: 18px;
    flex-direction: column;
    cursor: pointer;
    border: none;
}

.container_blog_details_content_search img {
    cursor: pointer;
}

.container_blog_details_form .info_field-T input {
    width: 100%;
    padding-bottom: 120px;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    margin-top: 40px;
}

.container_blog_details_form .btn {
    width: 180.14px;
    height: 45px;
    margin-left: 5px;
    background-color: #292F36;
    background: #292F36;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    cursor: pointer;
}

.container_blog_details_form .btn p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    align-items: center;
    margin-left: 45px;
    margin-top: 10px;
}


.container_blog_details_form .btn img {
    width: 15.14px;
    height: 13.18px;
}

.container_blog_details_content_latest_topic {
    width: 137px;
    height: 31px;
    margin-top: 35px;
    margin-left: 5px;
}

.container_blog_details_content_latest_topic h4 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #292F36;
}

.container_blog_details_content_latest_note {
    width: 385px;
    height: 85px;
    margin-top: 20px;
}

.container_blog_details_content_latest_note_One {
    width: 237px;
    height: 50px;
}

.container_blog_details_content_latest_note_One h5 {
    font-family: 'DM Serif Display';
    width: 237px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #292F36;
    margin-left: 15px;
}

.container_blog_details_content_latest_note_two {
    width: 106px;
    height: 24px;
    margin-left: 300px;
}

.container_blog_details_content_latest_note_two h5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #4D5053;
}

.container_blog_details_content_latest_note_line {
    width: 385px;
    height: 0px;
    left: 345px;
    top: 85px;
    border: 1px solid #CDA274;
    transform: rotate(180deg);
}

.wraper_blog_details_content_Categories {
    background-color: #F4F0EC;
    border-radius: 20px;
    width: 387px;
    height: 470px;
    margin-top: 40px;
}

.wraper_blog_details_content_Categories_topic {
    width: 123px;
    height: 31px;
}

.wraper_blog_details_content_Categories_topic h5 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #292F36;
    position: absolute;
    top: 580px;
    right: 230px;
}

.wraper_blog_details_content_Categories_one {
    width: 237px;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px;
}

.wraper_blog_details_content_Categories_one h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 300%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #4D5053;
}

.wraper_blog_details_content_Categories_line {
    width: 278px;
    height: 0px;
    border: 1px solid #CDA274;
    transform: rotate(-180deg);
    margin-top: 30px;
    margin-left: 30px;
}

.wraper_container_blog_details_content_tags h5 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #292F36;
    margin-top: 30px;
    margin-left: 20px;
}

.container_blog_details_content_tags_btn {
    width: 390px;
    height: 50px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.container_blog_details_content_tags_btn_one {
    padding: 9px 30px;
    gap: 10px;
    width: 60px;
    height: 25px;
    background: #292F36;
    border-radius: 10px;
    margin-left: 10px;
}

.container_blog_details_content_tags_btn_one h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 20px;
}
.container_blog_details_content_tags_btn_two{
    padding: 9px 30px;
    gap: 10px;
    width: 60px;
    height: 25px;
    background:  #F4F0EC;;
    border-radius: 10px;
    margin-left: 10px;
}

.container_blog_details_content_tags_btn_two h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #292F36;
    margin-left: 10px;
}
.container_blog_details_content_tags_btn_three{
    padding: 9px 30px;
    gap: 10px;
    width: 115px;
    height: 25px;
    background:  #F4F0EC;;
    border-radius: 10px;
    margin-left: 10px;
}

.container_blog_details_content_tags_btn_three h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #292F36;
    margin-left: 20px;
}
.container_blog_details_content_tags_btn_four{
    padding: 9px 30px;
    gap: 10px;
    width: 160px;
    height: 25px;
    background:  #F4F0EC;;
    border-radius: 10px;
    margin-left: 10px;
}

.container_blog_details_content_tags_btn_four h6 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #292F36;
    margin-left: 20px;
}